{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Interlink" %}{% endblock %}

{% block content %}

    <h1>{% trans "Reset de Senha" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Esqueceu a senha? Insira de seu e-mail abaixo para receber um email com a senha provisória." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Alterar senha' %}" />
    </form>

    <p>{% blocktrans %}Por favor, nos comunique caso haja qualquer dificuldade.{% endblocktrans %}</p>
{% endblock %}
